body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
    background-color: lightgray;
}
:root{
    --text-info: #b0b0e5;
    --text-success: #aad6ad;
    --text-warning: #e9e982;
    --text-error: #f78787;
}

.message-info{
    background-color: var(--text-info);
    color: #514ea5;
}
.message-success{
    background-color: var(--text-success);
    color: #42794d;
}
.message-warning{
    background-color: var(--text-warning);
    color: #8f8f58;
}
.message-error{
    background-color: var(--text-error);
    color: red;
}
.message{
    border: 1px solid lightgray;
    border-radius: 10px;
    margin: 0.5em;
    padding: 0.5em;
}