body{
    background-image: radial-gradient(#2f3939, #3d575e, #818182);
    color: aliceblue;
}
.jumbotron{
    background-image: url("../img/snow.jpg");
    background-size: cover;
    background-position: center;
    color: #afaab9;
}
a{
    color: aliceblue;
    transition: font-size .3s;
}
a:hover{
    color: #bec3c8;
    font-size: 1.2em;
}
p{
    margin: .8em 0 .8em .5em;
    text-shadow: 2px 2px #000000;
}
li{
    list-style: none;
    text-shadow: 2px 2px #000000;
}
.icon{
    font-size: 1.5em;
}
#icon{
    color: #afaab9;
}
#icon2{
    color: #afaab9;
}
#icon3{
    color: #afaab9;
}
#icon4{
    color: #afaab9;
}
.skills>li::before{
    content: "";
    display: inline-block;
    height: 30px;
    width: 30px;
    background-image: url("../img/husky.png");
    background-position: center;
    background-size: cover;
}
hr{
    height: .5vh;
    margin: 2em auto;
    background-color: aliceblue;
    border: 2px solid black;
}
.navbar-nav{
    display: flex;
    align-items: center;
    justify-content: center;
}
.row{
    margin-top: 2em;
}
h2{
    margin-bottom: .5em;
    color: #2d2d34;
    text-shadow: 2px 2px #000000;
}
h5{
    color: #afaab9;
    text-shadow: 2px 2px #000000;
}
@media screen and (min-width: 768px){
    .navbar-nav{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}