*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #afaab9;
}
.heading{
    width: 100%;
    background-color: #1f5673;
    height: 30vh;
    display: flex;
    justify-content: space-between;
    color: #f4fffd;
    border: 5px solid #220901;
    flex-direction: column;
}
.upperArea{
    margin: 1% 5%;
    color: #4fb286;
    font-size: 22px;
}
.description{
    font-size: 14px;
}
.timeArea{
    margin: .5em;
}
.long{
    text-align: center;
}
.head{
    text-decoration: underline;
    font-weight: bold;
    color: #4fb286;
}
.weatherArea{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background-color: #220901;
    height: 100vh;
    flex-direction: column;
    color: #f4fffd;
    padding-left: 5%;
    padding-right: 5%;
    align-items: center;
    overflow: scroll;
}
.search {
    height: 4vh;
    margin: auto 0;
    align-self: center;
    border: 1px solid #220901;
    border-radius: 5px;
    width: 25%;
}
#search{
    width: 50%;
}
#map{
    width: 100%;
    height: 50vh;
    border: 5px solid #220901;
}
.weatherCard{
    width: 75%;
    height: 85%;
    margin: 1em 0;
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(34, 9, 1, .8);
    flex-direction: column;
    align-items: center;
    border: 2px solid #2d2d34;
    border-radius: 15px;
}
#largeArea{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30vh;
    left: 12vw;
    width: 80%;
    height: 100vh;
    background-color: rgba(34, 9, 1, .9);
    color: #f4fffd;
}
.largeCard{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#close{
    margin-left: auto;
    width: 7%;
    height: 10%;
    background-color: rgba(34, 9, 1, .9);
    color: #f4fffd;
    border-radius: 5px;
}
button:hover{
    cursor: pointer;
}
span{
    font-size: 18px;
}

@media screen and (min-width: 798px){
    #title{
        font-size: 22px;
    }
    #largeArea{
        top: 10vh;
        height: 40vh;
    }
    .upperArea{
        font-size: 14px;
    }
    .weatherArea{
        padding: 5%;
    }
    .heading{
        flex-direction: row;
        height: 10vh;
    }
    .weatherArea{
        flex-direction: row;
        height: 40vh;
        overflow: auto;
        flex-wrap: wrap;
    }
    .weatherCard{
        width: 25%;
        margin: auto 0;
    }
    .description{
        font-size: 12px;
    }
    span{
        font-size: 16px;
    }
}
@media screen and (min-width: 1000px){
    #submit{
        width: 10em;
    }
    .weatherArea{
        padding: 0 5%;
    }
    .description{
        font-size: 10px;
    }
    span{
        font-size: 14px;
    }
    .weatherCard{
        width: calc(100%/9);
        margin: auto 0;
    }
    #time{
        font-size: 18px;
    }
    #timeHead{
        font-size: 14px;
    }
}
@media screen and (min-width: 1380px){
    #title{
        font-size: 22px;
    }
    .weatherArea{
        padding: 0 1%;
    }
    #time{
        font-size: 22px;
    }
    #search{
        width: 20%
    }
    #submit{
        width: 6em;
    }
}